/* "*" belgisi barcha elementlarga murojaatni anglatadi*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
/*bloklarning width ni o`zgarishini verstka uchun qulay qilib beradi*/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
/*quyidagi teglarni blok qilib beradi*/
nav,
footer,
header,
aside {
  display: block;
}
/*elementlarning hossalarini barcha brauzerlar uchun mo`tadillashtirib beradi*/
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjusst: 100%;
  -moz-text-size-adjusst: 100%;
  -webkit-text-size-adjust: 100%;
}
/*quyidagi teglarning shriftlar oilasini vorislashi taminlanadi*/
input,
button,
textarea {
  font-family: inherit;
}
/*turli brauzerlarning o`ziga xos hususiyatlarini olib tashlash*/
input:-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button:-moz-focus-innesr {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
/*sarlavharning odatdagi stillarini nullashtirish*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
body {
  margin: 0px 0px 0px 0px;
}

.wrapper {
  height: 100vh;
}
.main_img {
  width: 100%;
  height: 100%;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  backdrop-filter: blur(10px);
  text-align: center;
  font-family: "Inter";
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  color: #ffffff;
  margin-bottom: 34px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  border-radius: 10px;
  cursor: pointer;
}

.block {
  height: 500px;
  width: 350px;
  /* display: grid; */
  display: flex;
  flex-direction: column;
  /* background: #01a884; */
  border-radius: 12px;
  padding: 32px;
}

.form {

  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;
  
  position: sticky;
  top: 0;
  z-index: 999;
}

.input {
  padding: 0 16px;
  border: 3px solid #e5e9eb;
  border-radius: 6px;
  width: 77%;
  height: 40px;
  box-shadow: 0 0 10px rgb(247, 231, 0);
  font-size: 20px;
  background-color: #e7e1e1;
  color: #000000;
}

.add {
  font-size: 20px;
  width: 20%;
  height: 40px;
  background: #096138;
  border-radius: 6px;
  border: 3px solid #e5e9eb;
  box-shadow: 0 0 10px rgb(13, 11, 129);
  color: white;
}

.todosList {
  backdrop-filter: blur(20px);
  overflow: auto;
overflow-y: hidden;


  margin-bottom: 11px;
  display: grid;
  gap: 11px;
}

.todo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 24px;
  height: 48px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  border: 3px solid black;
  box-shadow: 0 0 10px black;
  background-color: #bbddff;
  color: #000000;
}

.todo_input {
  flex-grow: 1;
  background-color: #bbddff;
  color: #000000;
  height: 100%;
  width: 70%;
  font-size: 20px;
  /* cursor: pointer; */
}

.checkbox {
  font-size: 30px;
  cursor: pointer;
}

.edit {
  cursor: pointer;
}
.edit:hover {
  border: 2px solid green;
  box-shadow: 0 0 10px rgb(34, 198, 77);
  background-color: rgb(255, 244, 244);
  color: #000000;
  border-radius: 10px;
  padding: 2px;
}

.delete {
  cursor: pointer;
}
.delete:hover {
  border: 1px solid rgb(73, 72, 72);
  box-shadow: 0 0 10px rgb(255, 0, 0);
  background-color: rgb(245, 13, 13);
  color: #ffffff;
  border-radius: 10px;
  padding: 2px;
}

.clear {
  cursor: pointer;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #fbfbfb;
  width: max-content;
  margin: 0 auto;
  font-size: 30px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  background-color: #34306e;
  margin-top: 20px;
  border-radius: 6px;
  height: 40px;
  display: flex;
  align-items: center;
}
.clear:hover {
  box-shadow: 0 0 20px rgb(255, 1, 1);
}
.btn_b {
  padding: 10px;
}
